In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_jap = pd.read_csv('/content/drive/MyDrive/Cloud Computing/HW1/Japanese.csv')

In [ ]:
print(df_jap)

                 Japanese_name  \
0        Saketumi Asian Bistro
1                    Bamboo Ya
2                         Raku
3                      Benemon
4                      Okonomi
..                         ...
320               Sake No Hana
321                       noda
322                Sushi Nikko
323  Hiyake Omakase - Brooklyn
324             Tamashii Ramen

                                          Japanese_url  \
0    https://www.yelp.com/adredir?ad_business_id=8J...
1    https://www.yelp.com/adredir?ad_business_id=m4...
2    https://www.yelp.com/biz/raku-new-york-7?osq=J...
3    https://www.yelp.com/biz/benemon-new-york?osq=...
4    https://www.yelp.com/biz/okonomi-brooklyn?osq=...
..                                                 ...
320  https://www.yelp.com/biz/sake-no-hana-new-york...
321  https://www.yelp.com/biz/noda-new-york?osq=Jap...
322  https://www.yelp.com/biz/sushi-nikko-queens?os...
323  https://www.yelp.com/biz/hiyake-yakiniku-bar-b...
324  https://www.yelp.com/adredir?ad_business_id=O9...

              Japanese_Address
0                          NaN
1                          NaN
2                 East Village
3                 East Village
4    Williamsburg - North Side
..                         ...
320                        NaN
321                   Flatiron
322                        NaN
323                        NaN
324                        NaN

[325 rows x 3 columns]

In [ ]:
df_jap = df_jap[df_jap['Japanese_Address'].notna()]

In [ ]:
print(df_jap)

                 Japanese_name  \
2                         Raku
3                      Benemon
4                      Okonomi
6          DOMODOMO - New York
9                       Kimura
..                         ...
315                   Chikurin
316            TJ Asian Bistro
318                         NR
319  Zurutto Ramen & Gyoza Bar
321                       noda

                                          Japanese_url  \
2    https://www.yelp.com/biz/raku-new-york-7?osq=J...
3    https://www.yelp.com/biz/benemon-new-york?osq=...
4    https://www.yelp.com/biz/okonomi-brooklyn?osq=...
6    https://www.yelp.com/biz/domodomo-new-york-new...
9    https://www.yelp.com/biz/kimura-new-york?osq=J...
..                                                 ...
315  https://www.yelp.com/biz/chikurin-brooklyn-2?o...
316  https://www.yelp.com/biz/tj-asian-bistro-woods...
318  https://www.yelp.com/biz/nr-new-york-4?osq=Jap...
319  https://www.yelp.com/biz/zurutto-ramen-and-gyo...
321  https://www.yelp.com/biz/noda-new-york?osq=Jap...

              Japanese_Address
2                 East Village
3                 East Village
4    Williamsburg - North Side
6            Greenwich Village
9                 East Village
..                         ...
315                 Bath Beach
316                   Woodside
318            Upper East Side
319            Upper West Side
321                   Flatiron

[161 rows x 3 columns]

In [ ]:
df_jap["category"] = "Japanese"

In [ ]:
print(df_jap)

                 Japanese_name  \
2                         Raku
3                      Benemon
4                      Okonomi
6          DOMODOMO - New York
9                       Kimura
..                         ...
315                   Chikurin
316            TJ Asian Bistro
318                         NR
319  Zurutto Ramen & Gyoza Bar
321                       noda

                                          Japanese_url  \
2    https://www.yelp.com/biz/raku-new-york-7?osq=J...
3    https://www.yelp.com/biz/benemon-new-york?osq=...
4    https://www.yelp.com/biz/okonomi-brooklyn?osq=...
6    https://www.yelp.com/biz/domodomo-new-york-new...
9    https://www.yelp.com/biz/kimura-new-york?osq=J...
..                                                 ...
315  https://www.yelp.com/biz/chikurin-brooklyn-2?o...
316  https://www.yelp.com/biz/tj-asian-bistro-woods...
318  https://www.yelp.com/biz/nr-new-york-4?osq=Jap...
319  https://www.yelp.com/biz/zurutto-ramen-and-gyo...
321  https://www.yelp.com/biz/noda-new-york?osq=Jap...

              Japanese_Address  category
2                 East Village  Japanese
3                 East Village  Japanese
4    Williamsburg - North Side  Japanese
6            Greenwich Village  Japanese
9                 East Village  Japanese
..                         ...       ...
315                 Bath Beach  Japanese
316                   Woodside  Japanese
318            Upper East Side  Japanese
319            Upper West Side  Japanese
321                   Flatiron  Japanese

[161 rows x 4 columns]

In [ ]:
df_jap.rename(columns = {'Japanese_name':'name'}, inplace = True)
df_jap.rename(columns = {'Japanese_url':'url'}, inplace = True)
df_jap.rename(columns = {'Japanese_Address':'address'}, inplace = True)

In [ ]:
df_jap

,name,url,address,category
2,Raku,https://www.yelp.com/biz/raku-new-york-7?osq=J...,East Village,Japanese
3,Benemon,https://www.yelp.com/biz/benemon-new-york?osq=...,East Village,Japanese
4,Okonomi,https://www.yelp.com/biz/okonomi-brooklyn?osq=...,Williamsburg - North Side,Japanese
6,DOMODOMO - New York,https://www.yelp.com/biz/domodomo-new-york-new...,Greenwich Village,Japanese
9,Kimura,https://www.yelp.com/biz/kimura-new-york?osq=J...,East Village,Japanese
...,...,...,...,...
315,Chikurin,https://www.yelp.com/biz/chikurin-brooklyn-2?o...,Bath Beach,Japanese
316,TJ Asian Bistro,https://www.yelp.com/biz/tj-asian-bistro-woods...,Woodside,Japanese
318,NR,https://www.yelp.com/biz/nr-new-york-4?osq=Jap...,Upper East Side,Japanese
319,Zurutto Ramen & Gyoza Bar,https://www.yelp.com/biz/zurutto-ramen-and-gyo...,Upper West Side,Japanese
321,noda,https://www.yelp.com/biz/noda-new-york?osq=Jap...,Flatiron,Japanese

In [ ]:
df_ch = pd.read_csv('/content/drive/MyDrive/Cloud Computing/HW1/chinese.csv')
df_ch

,selection1_name,selection1_url,selection1_address
0,A-Roll Grill Chicken Feet,https://www.yelp.com/adredir?ad_business_id=4_...,NaN
1,M Noodle Shop,https://www.yelp.com/adredir?ad_business_id=9K...,NaN
2,Ke Zhang,https://www.yelp.com/adredir?ad_business_id=1-...,NaN
3,Saketumi Asian Bistro,https://www.yelp.com/adredir?ad_business_id=8J...,NaN
4,Dumpling Town,https://www.yelp.com/adredir?ad_business_id=Cs...,NaN
...,...,...,...
329,Charm Kao,https://www.yelp.com/biz/charm-kao-brooklyn?os...,Boerum Hill
330,Shanghai Lee,https://www.yelp.com/biz/shanghai-lee-brooklyn...,Greenpoint
331,Chinese Musician Restaurant,https://www.yelp.com/biz/chinese-musician-rest...,Greenpoint
332,Hop Lee Kitchen,https://www.yelp.com/biz/hop-lee-kitchen-brook...,Greenpoint
333,Dimmer & Summer,https://www.yelp.com/adredir?ad_business_id=qG...,NaN

In [ ]:
df_ch = df_ch[df_ch['selection1_address'].notna()]
df_ch["category"] = "Chinese"

df_ch.rename(columns = {'selection1_name':'name'}, inplace = True)
df_ch.rename(columns = {'selection1_url':'url'}, inplace = True)
df_ch.rename(columns = {'selection1_address':'address'}, inplace = True)

df_ch

<ipython-input-28-a883de7f4361>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ch["category"] = "Chinese"
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,name,url,address,category
5,Shu Jiao Fu Zhou,https://www.yelp.com/biz/shu-jiao-fu-zhou-new-...,Lower East Side,Chinese
6,Joe’s Shanghai,https://www.yelp.com/biz/joes-shanghai-new-yor...,Chinatown,Chinese
7,Wah Fung No 1,https://www.yelp.com/biz/wah-fung-no-1-new-yor...,Lower East Side,Chinese
8,Chow House,https://www.yelp.com/biz/chow-house-new-york?o...,Greenwich Village,Chinese
9,Antidote,https://www.yelp.com/biz/antidote-brooklyn-2?o...,Williamsburg - South Side,Chinese
...,...,...,...,...
326,Good Chinese Restaurant,https://www.yelp.com/biz/good-chinese-restaura...,Bushwick,Chinese
329,Charm Kao,https://www.yelp.com/biz/charm-kao-brooklyn?os...,Boerum Hill,Chinese
330,Shanghai Lee,https://www.yelp.com/biz/shanghai-lee-brooklyn...,Greenpoint,Chinese
331,Chinese Musician Restaurant,https://www.yelp.com/biz/chinese-musician-rest...,Greenpoint,Chinese
332,Hop Lee Kitchen,https://www.yelp.com/biz/hop-lee-kitchen-brook...,Greenpoint,Chinese

In [ ]:
df_it = pd.read_csv('/content/drive/MyDrive/Cloud Computing/HW1/Italian.csv')
df_it

,Italian_name,Italian_url,Italian_address
0,Papa Johns Pizza,https://www.yelp.com/adredir?ad_business_id=0W...,NaN
1,Valentino’s Pizza,https://www.yelp.com/adredir?ad_business_id=qA...,NaN
2,Da Andrea,https://www.yelp.com/biz/da-andrea-new-york?os...,Greenwich Village
3,Olio e Più,https://www.yelp.com/biz/olio-e-pi%C3%B9-new-y...,NaN
4,Rubirosa,https://www.yelp.com/biz/rubirosa-new-york-2?o...,Nolita
...,...,...,...
320,Canto,https://www.yelp.com/biz/canto-new-york?osq=It...,NaN
321,Bernie’s,https://www.yelp.com/biz/bernies-brooklyn?osq=...,Williamsburg - North Side
322,Belli Osteria,https://www.yelp.com/biz/belli-osteria-brookly...,Clinton Hill
323,La Casa Bella,https://www.yelp.com/biz/la-casa-bella-brookly...,Bath Beach
324,Scottadito Osteria Toscana,https://www.yelp.com/adredir?ad_business_id=w0...,NaN

In [ ]:
df_it = df_it[df_it['Italian_address'].notna()]
df_it["category"] = "Italian"

df_it.rename(columns = {'Italian_name':'name'}, inplace = True)
df_it.rename(columns = {'Italian_url':'url'}, inplace = True)
df_it.rename(columns = {'Italian_address':'address'}, inplace = True)

df_it

<ipython-input-30-7ab9a8d81b50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_it["category"] = "Italian"
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,name,url,address,category
2,Da Andrea,https://www.yelp.com/biz/da-andrea-new-york?os...,Greenwich Village,Italian
4,Rubirosa,https://www.yelp.com/biz/rubirosa-new-york-2?o...,Nolita,Italian
5,Paesano of Mulberry Street,https://www.yelp.com/biz/paesano-of-mulberry-s...,Little Italy,Italian
6,L’Artusi,https://www.yelp.com/biz/l-artusi-new-york?osq...,West Village,Italian
7,Lillo Cucina Italiana,https://www.yelp.com/biz/lillo-cucina-italiana...,Cobble Hill,Italian
...,...,...,...,...
318,Adrienne’s Pizzabar,https://www.yelp.com/biz/adriennes-pizzabar-ne...,Financial District,Italian
319,Cotenna,https://www.yelp.com/biz/cotenna-new-york?osq=...,West Village,Italian
321,Bernie’s,https://www.yelp.com/biz/bernies-brooklyn?osq=...,Williamsburg - North Side,Italian
322,Belli Osteria,https://www.yelp.com/biz/belli-osteria-brookly...,Clinton Hill,Italian
323,La Casa Bella,https://www.yelp.com/biz/la-casa-bella-brookly...,Bath Beach,Italian

In [ ]:
df_final = pd.concat([df_jap, df_ch, df_it])

In [ ]:
df_final

,name,url,address,category
2,Raku,https://www.yelp.com/biz/raku-new-york-7?osq=J...,East Village,Japanese
3,Benemon,https://www.yelp.com/biz/benemon-new-york?osq=...,East Village,Japanese
4,Okonomi,https://www.yelp.com/biz/okonomi-brooklyn?osq=...,Williamsburg - North Side,Japanese
6,DOMODOMO - New York,https://www.yelp.com/biz/domodomo-new-york-new...,Greenwich Village,Japanese
9,Kimura,https://www.yelp.com/biz/kimura-new-york?osq=J...,East Village,Japanese
...,...,...,...,...
318,Adrienne’s Pizzabar,https://www.yelp.com/biz/adriennes-pizzabar-ne...,Financial District,Italian
319,Cotenna,https://www.yelp.com/biz/cotenna-new-york?osq=...,West Village,Italian
321,Bernie’s,https://www.yelp.com/biz/bernies-brooklyn?osq=...,Williamsburg - North Side,Italian
322,Belli Osteria,https://www.yelp.com/biz/belli-osteria-brookly...,Clinton Hill,Italian
323,La Casa Bella,https://www.yelp.com/biz/la-casa-bella-brookly...,Bath Beach,Italian

In [ ]:
df_final.to_csv('/content/drive/MyDrive/Cloud Computing/HW1/Japanese.csv', encoding='utf-8', index=False)